<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
</head>
<body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawers') %>
    <main>
    <h1>Page not Found!!</h1>
    <p>
        Unfortunately we could not found the page!
    </p>
    </main>
</body>
</html>
