<%- include('includes/head', {pageTitle: 'An Error Occured'}) %>

</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Something Went wrong</h1>
        <p>Try refreshing</p>
        <p><a class="btn" href="/">Back to Safety!</a></p>
        
    </main>
<%- include('includes/footer') %>
